- name: Download Apple Silicon Build
  run: |
    wget -O arm64.zip https://github.com/logoapurba-sys/mac-dmg-builder/releases/latest/download/Gotlancer-Mac-arm64.zip

- name: Download Intel Build
  run: |
    wget -O x64.zip https://github.com/logoapurba-sys/mac-dmg-builder/releases/latest/download/Gotlancer-Mac-x64.zip
